.contact-page {
  width: 35vw;
  opacity: 0%;
  left: -35vw;
  position: fixed;
  transition: all 0.3s ease;
  z-index: 9;

  &.active {
    opacity: 100%;
    left: 0;
    z-index: 9;
  }

  .contact-header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #023047;
    cursor: default;

    img {
      width: 35px;
      height: 35px;
      filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(148deg)
        brightness(104%) contrast(102%);
      cursor: pointer;

      &:hover {
        filter: invert(47%) sepia(99%) saturate(390%) hue-rotate(144deg)
          brightness(93%) contrast(86%);
      }
    }

    h3 {
      width: 100%;
      margin-left: 10px;
      left: 0;
      letter-spacing: 0.1em;
      font-size: calc(0.6rem + 1vw);
      text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
      color: white;
    }
  }

  .group-chat {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background-color: white;
    color: #023047;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    .image {
      width: 45px;
      height: 45px;
      background-color: #023047;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 50px;
      .img1 {
        width: 20px;
        height: 20px;
        position: absolute;
        margin-bottom: 10px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(148deg)
          brightness(104%) contrast(102%);
      }
      .img2 {
        width: 25px;
        height: 25px;
        margin-left: 14px;
        filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(148deg)
          brightness(104%) contrast(102%);
      }
    }
    span {
      margin-left: 10px;
    }
    &:hover {
      background-color: #023047;
      color: white;
      .image {
        background-color: white;
        .img1 {
          filter: invert(14%) sepia(12%) saturate(6383%) hue-rotate(169deg)
            brightness(97%) contrast(98%);
        }
        .img2 {
          filter: invert(14%) sepia(12%) saturate(6383%) hue-rotate(169deg)
            brightness(97%) contrast(98%);
        }
      }
    }
  }

  .contact-search {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
    z-index: 10;

    input {
      width: 100%;
      height: 30px;
      border: none;
      border-radius: 20px;
      padding-left: 40px;
      font-family: "Varela Round", sans-serif;
      font-size: 15px;
      background-color: white;
      background-image: url("../assets/search.svg");
      background-position: 10px;
      background-repeat: no-repeat;
      box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
    }

    &:hover {
      background-color: #023047;
      color: white;
      img {
        filter: invert(99%) sepia(1%) saturate(5%) hue-rotate(347deg)
          brightness(115%) contrast(100%);
      }
    }
  }

  .contact-container {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    .contact-find {
      margin-top: 100px;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .contact-find-1 {
        margin-top: 10px;
        font-size: 15px;
        font-family: "Varela Round", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .contact-find-2 {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        padding: 8px;
        align-items: center;
        color: black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        text-decoration: underline;
        text-align: center;
        margin-top: 10px;
        font-size: 20px;
        font-family: "Varela Round", sans-serif;

        &:hover {
          color: #219ebc;
        }
      }
    }

    .contact-add {
      width: 100%;
      opacity: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 140px;
        background-color: #f7f7f7;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);

        .contact-add-1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;

          h2 {
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: 21px;
            margin-right: 5px;
            margin-bottom: 6px;
          }

          h3 {
            font-size: 12px;
            font-style: normal;
            font-weight: normal;
            line-height: 18px;
          }
        }

        button {
          width: 100%;
          height: 50px;
          margin-top: 20px;
          font-size: 100%;
          font-weight: 300;
          font-family: "Varela Round", sans-serif;
          color: white;
          border: none;
          border-radius: 10px;
          background-color: #8ecae6;
          cursor: pointer;
        }
        &:hover {
          button {
            background-color: #219ebc;
          }
        }
      }
    }

    .contact-item {
      width: 100%;
      height: 80px;
      background-color: #f7f7f7;
      box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
      border-radius: 0px 10px 10px 10px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      color: #023047;
      margin: 4px 4px;
      cursor: pointer;

      .contact-profile {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 40px;
        display: flex;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        background-color: #023047;

        h1 {
          font-size: 20px;
        }
      }

      &:hover {
        background-color: #219ebc;
        color: #ffff;
      }

      h2 {
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
        margin-top: 3px;
        margin-right: 5px;
        margin-bottom: 6px;
        text-align: justify;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      h3 {
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        text-align: justify;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      img {
        width: 25px;
        height: 25px;
        margin-left: auto;
        display: block;
        filter: invert(14%) sepia(12%) saturate(6383%) hue-rotate(169deg)
          brightness(97%) contrast(98%);
      }
    }
  }
}

.contact-message {
  position: fixed;
  margin-left: 46%;
  width: 50vw;
  height: 100%;

  .contact-message-content {
    margin-top: 37px;
    height: calc(100vh - 77px);
    width: 100%;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0px 10px 10px 10px;

    .message-header {
      width: 50vw;
      height: 50px;
      display: flex;
      align-items: center;
      position: fixed;
      background-color: #8ecae6;
      box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.05);
      border-radius: 0px 10px 10px 10px;
      z-index: 3;
      cursor: default;

      h3 {
        width: 100%;
        color: white;
        left: 0;
        padding: 20px 35px;
        letter-spacing: 0.1em;
        font-size: calc(0.6rem + 1vw);
        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.7);
      }
    }
  }
}
